@import "tailwindcss";

@import './partials/_tags.css';
@import './partials/_colors.css';

/* crear variables propias en tailwind coffee puede ser reemplazado por otro variedad de tonalidades ... y de otros colores bg-coffee-50...950 , text-coffe-50...950  */
@theme {
    --default-font-family: "Outfit", sans-serif;
    --color-coffee-50: #fcf8ee;
    --color-coffee-100: #ebe7de;
    --color-coffee-200: #ead59d;
    --color-coffee-300: #dfbb6a;
    --color-coffee-400: #d7a648;
    --color-coffee-500: #ce8a32;
    --color-coffee-600: #b66b29;
    --color-coffee-700: #975026;
    --color-coffee-800: #7c3f24;
    --color-coffee-900: #5e311e;
    --color-coffee-950: #3a1a0e;
}


/* LOS COLORES Y FUENTES PUEDEN CAMBIAR SEGÚN EL PROYECTO */

:root {
    /* LIGHT MODE */
    --color-white: #faf7f7;
    --color-dark: #141414;
    --color-white-full: #faf7f7;
    --color-dark-full: #000000;
    --color-primary: #2A3EAE;
    --color-secondary: #010D26;
    --color-tertiary: #023E73;
    --color-quaternary: #3876F2;
    --color-quinary: #C9DFF2;
    --color-senary: #D8C819;
    --color-octonary: #0B1630;

    --padding-75: 0 calc((100vw - 75vw) /2);
    --padding-80: 0 calc((100vw - 80vw) /2);
    --padding-85: 0 calc((100vw - 85vw) /2);
    --padding-90: 0 calc((100vw - 90vw) /2);
    --padding-95: 0 calc((100vw - 95vw) /2);

}