---
import Layout from "@layouts/Layout.astro";

---

<Layout title="test" description="test description">
    <section class={`bg-red-600`}>
        <p>
            SI MIRAS ESTO Y EL FONDO ES ROJO, QUIERE DECIR QUE TAILWIND ESTÁ
            FUNCIONANDO
        </p>
    </section>
</Layout>
